footer {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
    padding: $size-3 0;
    padding-top: $size-5;
    font-size: 1rem;
    text-align: center;

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        .footer-info-box {
          display: flex;
          width: 100%;
          justify-content: space-between;
          border-bottom: 1px solid var(--neutral-700);
          padding-bottom: $size-3;

          @media (max-width: $mobile) { 
            flex-direction: column;
            gap: $size-3;
          }


          .footer-left {
            max-width: 300px;
            width: 100%;
            text-align: left;
            
            .rich-text {
              p {
                font-size: 0.8rem;
              }
            }

            img {
              width: 100px;
              margin-bottom: $size-1;
              object-fit: contain;
            }
          }

          .footer-right {
            ul {
              display: flex;
              flex-direction: column;
              list-style-type: none;
              margin: 0;
              padding: 0;
              text-align: center;
              gap: $size-1;
              text-decoration: none;
              font-style: normal;

              li {
                display: flex;
                gap: $size-1;
                align-items: center;

                &.social-media {
                  gap: $size-3;

                  a {
                    color: var(--neutral-100);
                    font-size: 1rem;

                    &:nth-child(1) {
                      color: var(--primary-500);
                    }
                  }
                }
              }
            }
          }
        }
        .footer-nav-box {
          display: flex;
          width: 100%;
          justify-content: space-between;

          @media (max-width: $mobile) { 
            flex-direction: column;
            gap: $size-3;
          }

          nav {
            display: flex;
            gap: $size-2;
            flex-wrap: wrap;

            a {
              color: var(--neutral-100);
              text-decoration: none;
            }
          }
        }
      }
  }
