header {
    padding: $size-3 0;
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;

    @media (max-width: $mobile) { 
      padding: $size-1 0;
    }

    &.sticky {
        background-color: var(--neutral-100);
        border-bottom: 1px solid var(--neutral-300);

        .language-selector {
          color: var(--neutral-900);
        }
    }

  
    .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      width: 100px;
      z-index: 1;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  