//Grid settings
.grid {
    display: grid;
    gap: $size-3;

    &.center {
      justify-items: center;
    }
  }
  
//Grid settings desktop
  .xl-12 { grid-template-columns: repeat(12, 1fr); }
  .xl-11 { grid-template-columns: repeat(11, 1fr); }
  .xl-10 { grid-template-columns: repeat(10, 1fr); }
  .xl-9 { grid-template-columns: repeat(9, 1fr); }
  .xl-8 { grid-template-columns: repeat(8, 1fr); }
  .xl-7 { grid-template-columns: repeat(7, 1fr); }
  .xl-6 { grid-template-columns: repeat(6, 1fr); }
  .xl-5 { grid-template-columns: repeat(5, 1fr); }
  .xl-4 { grid-template-columns: repeat(4, 1fr); }
  .xl-3 { grid-template-columns: repeat(3, 1fr); }
  .xl-2 { grid-template-columns: repeat(2, 1fr); }
  .xl-1 { grid-template-columns: repeat(1, 1fr); }
  
  //Grid settings tablet
  @media (max-width: $tablet) {
    .md-12 { grid-template-columns: repeat(12, 1fr); }
    .md-11 { grid-template-columns: repeat(11, 1fr); }
    .md-10 { grid-template-columns: repeat(10, 1fr); }
    .md-9 { grid-template-columns: repeat(9, 1fr); }
    .md-8 { grid-template-columns: repeat(8, 1fr); }
    .md-7 { grid-template-columns: repeat(7, 1fr); }
    .md-6 { grid-template-columns: repeat(6, 1fr); }
    .md-5 { grid-template-columns: repeat(5, 1fr); }
    .md-4 { grid-template-columns: repeat(4, 1fr); }
    .md-3 { grid-template-columns: repeat(3, 1fr); }
    .md-2 { grid-template-columns: repeat(2, 1fr); }
    .md-1 { grid-template-columns: repeat(1, 1fr); }
  }
  
   //Grid settings mobile
  @media (max-width: $mobile) {
    .xs-12 { grid-template-columns: repeat(12, 1fr); }
    .xs-11 { grid-template-columns: repeat(11, 1fr); }
    .xs-10 { grid-template-columns: repeat(10, 1fr); }
    .xs-9 { grid-template-columns: repeat(9, 1fr); }
    .xs-8 { grid-template-columns: repeat(8, 1fr); }
    .xs-7 { grid-template-columns: repeat(7, 1fr); }
    .xs-6 { grid-template-columns: repeat(6, 1fr); }
    .xs-5 { grid-template-columns: repeat(5, 1fr); }
    .xs-4 { grid-template-columns: repeat(4, 1fr); }
    .xs-3 { grid-template-columns: repeat(3, 1fr); }
    .xs-2 { grid-template-columns: repeat(2, 1fr); }
    .xs-1 { grid-template-columns: repeat(1, 1fr); }
  }


  .grid-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    @media (max-width: $mobile) { 
      display: flex;
      flex-direction: column;

      tr {
        display: flex;
        flex-direction: column;
        border: none;

        td {
          border-bottom: 2px solid var(--primary-500-10);
          border-right: none !important;
        }
      }
    }

    tr {
      &:not(:last-child) td {
        border-bottom: 2px solid var(--primary-500-10);
      }

      td {
        padding: $size-3;
        text-align: center;
    
        &:not(:last-child) {
          border-right: 2px solid var(--primary-500-10);
          
        }
      }
    }


  tr:not(:last-child) td {
    border-bottom: 2px solid var(--primary-500-10);
  }
  }
  