.inputWrapper {
    position: relative;
    width: 100%;
    border-radius: $size-3;
    padding: $size-1;
    background-color: var(--neutral-100);

    .label {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      pointer-events: none;
      color: #aaa;
    }

    textarea {
      min-height: 200px;
    }
  }
  
  .inputWrapper input,
  .inputWrapper textarea,
  .inputWrapper select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputWrapper input:focus,
  .inputWrapper textarea:focus,
  .inputWrapper select:focus {
    border-color: #007bff;
  }
  
  .label.active {
    top: -15px;
    font-size: 12px;
    color: var(--primary-500)
  }
  